.title {
    font-size: clamp(1.5rem, 7vw, 36px);
    font-weight: 600;
    margin-bottom: 50px;
}

.equipment {
    padding: 60px 0 60px 0;
}

.equipment-cards {
    display: flex;
    justify-content: space-between;
}

.equipment-infos {
    border-radius: 10px;
    border: 1px solid #161616;
    background: #060606;
    width: 100%;
    max-width: 318px;
    height: 287px;
    display: flex;
    flex-direction: column;
}

.equipment-infos img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.equipment-infos-text {
    padding: 20px;
}

.equipment-training {
    font-weight: 600;
    margin-bottom: 15px;
}

.equipment-infos-description {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tag-equipment {
    background: var(--primary-orange);
    padding: 1px 3px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    color: #060606;
}

.type-equipment {
    color: #8F8F8F;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (min-width: 768px) and (max-width: 1340px) {
    .equipment-cards {
        display: grid;
        grid-template-columns: repeat(2, 318px);
        gap: 45px;
        justify-content: center;
    }
}

@media (min-width: 465px) and (max-width: 775px) {
    .equipment-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
}

@media (max-width: 465px) {
    .equipment-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
}