.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}

.category {
    padding-bottom: 60px;
    padding-top: 60px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.infos {
    border-radius: 10px;
    border: 2px solid #161616;
    background: #060606;
    width: 198px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos span {
    font-size: 40px;
    margin-bottom: 10px;
    display: inline-flex;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 3 colunas */
        gap: 45px;
        justify-items: center;
    }

    .infos {
        flex: 0 0 calc(50% - 24px);
        /* 2 por linha */
    }

}

@media (min-width: 465px) and (max-width: 775px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 3 colunas */
        gap: 20px;
        justify-items: center;
    }
}

@media (max-width: 465px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* 3 colunas */
        gap: 20px;
        justify-items: center;
    }
}