.navbar {
  background: var(--foreground);
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.navbar-content {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 25px;
}

.navbar-menu a {
  position: relative;   /* necessário para a linha ficar embaixo do texto */
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;          
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.4s ease;
}

.navbar-menu a:hover::after {
  width: 100%;          
}

/* BOTÃO BURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 26px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}

/* ANIMAÇÃO DO X */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* MOBILE */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navbar-menu {
    position: absolute;
    top: 60px; /* mesma altura da navbar */
    left: 0;
    width: 100%;
    background: var(--foreground);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    /* escondido */
    transform: translateY(-150%);
    transition: transform 0.3s ease;
  }

  .navbar-menu.open {
    transform: translateY(0);
  }
}
